@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wordpress\/wp-content\/themes\/wp-clean\/assets\/scss\/login\.scss}line{font-family:\000039}}
*:focus {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wordpress\/wp-content\/themes\/wp-clean\/assets\/scss\/login\.scss}line{font-family:\0000311}}
body {
  background: #125069 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wordpress\/wp-content\/themes\/wp-clean\/assets\/scss\/login\.scss}line{font-family:\0000316}}
  body #login h1 a {
    background-image: none, url(../img/fw5.svg?ver=20131218);
    background-size: 140px 140px;
    height: 140px;
    margin: 0 auto;
    padding: 0;
    width: 140px;
    margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wordpress\/wp-content\/themes\/wp-clean\/assets\/scss\/login\.scss}line{font-family:\0000327}}
  body #login p.message, body #login #login_error {
    margin-bottom: 10px;
    background: #0e3f53;
    -webkit-box-shadow: 0 1px 0 #0b2f3d, 0 2px 0 #071e28, 0 3px 0 #030e12, 0 3px 10px #0e3f53;
    -moz-box-shadow: 0 1px 0 #0b2f3d, 0 2px 0 #071e28, 0 3px 0 #030e12, 0 3px 10px #0e3f53;
    box-shadow: 0 1px 0 #0b2f3d, 0 2px 0 #071e28, 0 3px 0 #030e12, 0 3px 10px #0e3f53;
    color: #ccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wordpress\/wp-content\/themes\/wp-clean\/assets\/scss\/login\.scss}line{font-family:\0000338}}
  body #login #loginform {
    background: #afdef0;
    margin: 0;
    padding: 26px 24px;
    -webkit-box-shadow: 0 1px 0px #59bbe0, 0 2px 0px #2ea9d8, 0 3px 0px #259ac7, 0 3px 5px #092631;
    -moz-box-shadow: 0 1px 0px #59bbe0, 0 2px 0px #2ea9d8, 0 3px 0px #259ac7, 0 3px 5px #092631;
    box-shadow: 0 1px 0px #59bbe0, 0 2px 0px #2ea9d8, 0 3px 0px #259ac7, 0 3px 5px #092631;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wordpress\/wp-content\/themes\/wp-clean\/assets\/scss\/login\.scss}line{font-family:\0000347}}
    body #login #loginform label {
      color: #125069; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wordpress\/wp-content\/themes\/wp-clean\/assets\/scss\/login\.scss}line{font-family:\0000350}}
    body #login #loginform input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #edf8fe inset;
      color: #125069; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wordpress\/wp-content\/themes\/wp-clean\/assets\/scss\/login\.scss}line{font-family:\0000354}}
    body #login #loginform input[type=text], body #login #loginform input[type=password] {
      background: #edf8fe !important;
      border: none;
      color: #125069; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wordpress\/wp-content\/themes\/wp-clean\/assets\/scss\/login\.scss}line{font-family:\0000359}}
    body #login #loginform input[type=submit] {
      background: #125069;
      border: none;
      color: #edf8fe;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-box-shadow: 0 1px 0 #0e3f53, 0 2px 0 #0b2f3d, 0 3px 0 #071e28, 0 3px 5px #0b2f3d;
      -moz-box-shadow: 0 1px 0 #0e3f53, 0 2px 0 #0b2f3d, 0 3px 0 #071e28, 0 3px 5px #0b2f3d;
      box-shadow: 0 1px 0 #0e3f53, 0 2px 0 #0b2f3d, 0 3px 0 #071e28, 0 3px 5px #0b2f3d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wordpress\/wp-content\/themes\/wp-clean\/assets\/scss\/login\.scss}line{font-family:\0000372}}
  body #login #nav, body #login #backtoblog {
    float: right;
    width: 45%;
    padding: 0;
    margin: 0;
    font-size: 11px;
    padding-top: 10px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wordpress\/wp-content\/themes\/wp-clean\/assets\/scss\/login\.scss}line{font-family:\0000380}}
    body #login #nav a, body #login #backtoblog a {
      color: #0b2f3d; }
